<!-- EJS file that acts as an index.html file -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Bootstrap CSS Install -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <%- include('styles') %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <div class="container" id="show-container">
        <h3 id="show-container-title" class="mb-4 mt-5">View Slice</h3>
        <h2 class="mb-1 mt-5"><%= article.title %></h2>
        <div class="text-secondary mt-3 mb-3">
            <!-- Turns createdAt into a locale date style -->
            <%= article.createdAt.toLocaleDateString() %>
        </div>
        <a href="/" class="btn btn-warning mt-1 mb-5">All Articles</a>
        <a href="/articles/edit/<%= article.id %>" class="btn btn-secondary mt-1 mb-5">Edit</a>

        <div><%- article.sanitizedHtml %></div>
    </div>
</body>
</html>